*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#121212;
    color:white;
}

.container{
    text-align:center;
}

button{
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size:16px;
}

#notifications{
    position: fixed;
    top:20px;
    right: 20px;
}

.notification{
    padding: 15px;
    margin-bottom:10px;
    border-radius:10px;
    width:250px;
    animation:slideIn .5s;
    position:relative;
}

.success{
    background:#2ecc71;
}

.error{
    background:#e74c3c;
}

.warning{
    background:#f39c12;
}

.info{
    background:#3498db;
}

.close{
    position:absolute;
    right:10px;
    top:5px;
    cursor:pointer;
    font-size:20px;
}

@keyframes slideIn{
    from{
    transform:translateX(100%);
    opacity:0;
}
to{
    transform:translateX(0);
    opacity:1;
}
}
