*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(135deg,#667eea,#764ba2);
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container{
    width: 100%;
    max-width: 800px;
    background:rgba(255,255,255,.15);
    border-radius:20px;
    padding:25px;
    color:white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#themeBtn{
    border: none;
    padding:10px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.input-box{
    display: flex;
    gap: 10px;
}

input{
    flex: 1;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 10px;
}

#addTaskBtn{
    padding: 12px 20px;
    border: none;
    border-radius:10px;
    background:#00c896;
    color: white;
    cursor: pointer;
}

#liveText{
    margin: 15px 0;
}

#searchInput{
    width: 100%;
    margin-bottom: 20px;
}

.task{
    background: white;
    color: black;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
    transition: 3s;
}

.task:hover{
    transform: translateY(-3px);
}

.completed{
    text-decoration: line-through;
    opacity:.6;
}

.task-info small{
    color: gray;
}

.actions{
    display: flex;
    gap: 8px;
}

.actions button{
    border:none;
    padding:8px 12px;
    border-radius:8px;
    cursor:pointer; 
}

.complete{
    background:#00c896;
    color:white;
}

.delete{
    background:#ff4d4d;
}

.dark{
    background:#111827;
}

.dark .container{
    background:#1f2937;
}

.dark .task{
    background:#374151;
    color:white;
}