*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(135deg,#667eea,#764ba2);
    display: flex;
    justify-content: center;
    padding: 30px;
}

.container{
    width: 100%;
    max-width: 800px;
    background:rgba(255,255,255,.15);
    border-radius:20px;
    padding:25px;
    color:white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#themeBtn{
    border: none;
    padding:10px 15px;
    border-radius: 10px;
    cursor: pointer;
}