*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:
linear-gradient(
135deg,
#0f172a,
#2563eb,
#7c3aed
);

}

.container{

display:flex;
justify-content:center;
align-items:center;

width:100%;
}

.card{

width:380px;
padding:40px;

border-radius:25px;

background:
rgba(255,255,255,0.1);

backdrop-filter:
blur(20px);

box-shadow:
0 8px 32px rgba(0,0,0,.3);

text-align:center;

color:white;

}

.card h1{

margin-bottom:10px;
font-size:30px;

}

.card p{

margin-bottom:20px;
opacity:.8;

}

.input-box input{

width:100%;

padding:15px;

border:none;
outline:none;

border-radius:12px;

background:
rgba(255,255,255,.15);

color:white;

margin-bottom:20px;

}

.input-box input::placeholder{

color:#ddd;

}

.buttons{

display:flex;
gap:15px;

}

button{

flex:1;

padding:14px;

border:none;
border-radius:12px;

cursor:pointer;

font-size:16px;
font-weight:bold;

transition:.4s;

}

button:hover{

transform:
translateY(-5px);

}

button:first-child{

background:white;
color:black;

}

button:last-child{

background:#ff4d6d;
color:white;

}

#status{

margin-top:20px;

font-weight:bold;

font-size:18px;

}